<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li [hidden]="!isLoggedIn" class="nav-item active">
        <a class="nav-link" (click)="goToHome()">Home</a>
      </li>
      <li [hidden]="!isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="goToAbout()">About</a>
      </li>
      <li [hidden]="!isLoggedIn" class="nav-item">
        <a class="nav-link" (click)="goToLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template">
    <login-component [hidden]="!showLogin" (loginStatus)="isloggedInStatus($event)">
    </login-component>
    <home-component [hidden]="!showHome">
    </home-component>
    <about-component [hidden]="!showAbout">
    </about-component>
  </div>
</main>
</body>
